

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  }
  h1{
    text-align: center;
  }
  
  #app {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px; 
    padding: 100px;
  }
  #btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px; 
   
  }
  .btn{
    padding: 5px;
    width:100px
  }
  
  
